# Ignore all files by default
*

# Allow Python files
!*.py

# Allow PNG images
!*.png

# Allow HTML files
!*.html

# Allow directories (so git can traverse them)
!*/

# Always track .gitignore itself
!.gitignore

!README.md